*.iml
.gradle
/local.properties
/.idea
.DS_Store
app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/hidden-api-stub/bin

.tmp
app/src/main/jniLibs/*/libAndroidDLM.so
app/src/main/jniLibs/*/libDisplayLinkManager.so
app/src/main/jniLibs/*/libusb_android.so
app/src/main/assets/*-dock-release.spkg
app/src/main/assets/*-monitor-release.spkg
